<!doctype html>
<html>
    <head>
        <Style>
            th {
                text-align: Right;
            } 
        </Style>
    </head>
    <body>
        <h1>SignUp:</h1>
        <form method="post">
            <table>

                <tr>
                    <th>User Name:</th>
                    <th><input type="text"></th>
                </tr>
                <tr>
                    <th>Password:</th>
                    <th><input type="text"></th>
                </tr>
                <tr>
                    <th>Re-Enter Password:</th>
                    <th><input type="text"></th>
                </tr>
                <tr>
                    <th>Email (optional):</th>
                    <th><input type="email"></th>
                </tr>
            </table>
            <input type="Submit">
        </form>
        <div style=
    </body>
</html>