<!doctype html>
<html>
    <head>
        <Style>
            .error {color: red}
            body {
                text-align: center;
                font-size: 3em;
                font-family: 'arial black';
                color: aqua;
                background-color: darkgrey 
            }
        </Style>
        <title>Success & Welcome! </title>
    </head>
    <body>
        <h1>Welcome {{ username }} !</h1>
        <form action="/">
            <input type="submit" value="Start Over">
        </form>
    </body> 
</html>
         